/* General Styles
   ========================================================================== */ 
   html, body{
    height: 100%;
    font-family: MyCustomFont, Verdana, Arial, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/21/21/33/batman-1407484_1280.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
  background-size: cover;
   } 
   
   .container{
    transform: translateY(2em);
    margin-top: 1em;
    padding: 1em;
   
    background: white;
   }
  
ul{
  list-style-type: none;
}

p{
  padding-top: 2em;
  
}

#submit{
  margin: 2em;
}
.background-image{
  
}
/* ========================================================================== */ 


/* Font Styles
========================================================================== */ 

 @font-face {
  font-family: MyCustomFont;
  src: url("../fonts/batmfo__.eot") /* TTF file for CSS3 browsers */
 }
 
 @font-face {
  font-family: MyCustomFont;
  src: url("../fonts/batmfa__.ttf") /* TTF file for CSS3 browsers */
 }
/* ========================================================================== */ 




/* Image Styles
========================================================================== */ 


/* ========================================================================== */ 


h1{
  color:yellow;
  font-size: 5em;
}
/* Footer Styles
========================================================================== */ 

/* ========================================================================== */ 




